In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [2]:
# Lets create some data to play with:

# Note: It is not necessary to understand how this dataset was made to understand this Lecture.

#import pandas testing utility
# import pandas.util.testing as tm; tm.N = 3 # BP this is deprecated
import pandas._testing as tm; tm.N = 3

#Create a unpivoted function
def unpivot(frame):
    N, K = frame.shape
    
    data = {'value' : frame.values.ravel('F'),
            'variable' : np.asarray(frame.columns).repeat(N),
            'date' : np.tile(np.asarray(frame.index), K)}
    
    # Return the DataFrame
    return DataFrame(data, columns=['date', 'variable', 'value'])

#Set the DataFrame we'll be using
dframe = unpivot(tm.makeTimeDataFrame())

In [3]:
#Show the "stacked" data, note how there are multiple variables and values for the dates
dframe

          date variable     value
0   2000-01-03        A  0.189053
1   2000-01-04        A -0.522748
2   2000-01-05        A -0.413064
3   2000-01-06        A -2.441467
4   2000-01-07        A  1.799707
..         ...      ...       ...
115 2000-02-07        D  0.783181
116 2000-02-08        D  2.056703
117 2000-02-09        D -1.638443
118 2000-02-10        D -1.729411
119 2000-02-11        D -1.504831

[120 rows x 3 columns]

In [8]:
# Now let's pivot the data

# First two value spassed are teh row and column indexes, then finally an optional fill value
# dframe_piv = dframe.pivot('date','variable','value') # BP this is wrong
dframe_piv = dframe.pivot(index='date',columns='variable',values='value')

#Show
dframe_piv

variable           A         B         C         D
date
2000-01-03  0.189053  0.189053  0.189053  0.189053
2000-01-04 -0.522748 -0.522748 -0.522748 -0.522748
2000-01-05 -0.413064 -0.413064 -0.413064 -0.413064
2000-01-06 -2.441467 -2.441467 -2.441467 -2.441467
2000-01-07  1.799707  1.799707  1.799707  1.799707
2000-01-10  1.144166  1.144166  1.144166  1.144166
2000-01-11 -0.325423 -0.325423 -0.325423 -0.325423
2000-01-12  0.773807  0.773807  0.773807  0.773807
2000-01-13  0.281211  0.281211  0.281211  0.281211
2000-01-14 -0.553823 -0.553823 -0.553823 -0.553823
2000-01-17  0.977567  0.977567  0.977567  0.977567
2000-01-18 -0.310557 -0.310557 -0.310557 -0.310557
2000-01-19 -0.328824 -0.328824 -0.328824 -0.328824
2000-01-20 -0.792147 -0.792147 -0.792147 -0.792147
2000-01-21  0.454958  0.454958  0.454958  0.454958
2000-01-24 -0.099198 -0.099198 -0.099198 -0.099198
2000-01-25  0.545289  0.545289  0.545289  0.545289
2000-01-26 -0.607186 -0.607186 -0.607186 -0.607186
2000-01-27  0.126828  0.126828  0.126828  0.126828
2000-01-28 -0.892274 -0.892274 -0.892274 -0.892274
2000-01-31  0.841465  0.841465  0.841465  0.841465
2000-02-01  0.188035  0.188035  0.188035  0.188035
2000-02-02  0.330571  0.330571  0.330571  0.330571
2000-02-03  0.410504  0.410504  0.410504  0.410504
2000-02-04 -1.010758 -1.010758 -1.010758 -1.010758
2000-02-07  0.783181  0.783181  0.783181  0.783181
2000-02-08  2.056703  2.056703  2.056703  2.056703
2000-02-09 -1.638443 -1.638443 -1.638443 -1.638443
2000-02-10 -1.729411 -1.729411 -1.729411 -1.729411
2000-02-11 -1.504831 -1.504831 -1.504831 -1.504831

In [ ]:
#Next we'll learn about duplicates in DataFrames!