In [10]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [11]:
#Now we'll learn DataFrames

#Let's get some data to play with. How about the NFL?
import webbrowser
website = 'http://en.wikipedia.org/wiki/NFL_win-loss_records'
webbrowser.open(website)

True

In [12]:
#Copy and read to get data
nfl_frame = pd.read_clipboard()

In [13]:
#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West

In [14]:
# We can grab the oclumn names with .columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [15]:
#Lets see some specific data columns
DataFrame(nfl_frame,columns=['Team','First Season','Total Games'])

                   Team  First Season  Total Games
0        Dallas Cowboys           NaN          NaN
1     Green Bay Packers           NaN          NaN
2      Baltimore Ravens           NaN          NaN
3  New England Patriots           NaN          NaN
4         Chicago Bears           NaN          NaN
5        Miami Dolphins           NaN          NaN
6     Minnesota Vikings           NaN          NaN
7    Kansas City Chiefs           NaN          NaN

In [16]:
#What happens if we ask for a column that doesn't exist?
DataFrame(nfl_frame,columns=['Team','First Season','Total Games','Stadium'])

                   Team  First Season  Total Games  Stadium
0        Dallas Cowboys           NaN          NaN      NaN
1     Green Bay Packers           NaN          NaN      NaN
2      Baltimore Ravens           NaN          NaN      NaN
3  New England Patriots           NaN          NaN      NaN
4         Chicago Bears           NaN          NaN      NaN
5        Miami Dolphins           NaN          NaN      NaN
6     Minnesota Vikings           NaN          NaN      NaN
7    Kansas City Chiefs           NaN          NaN      NaN

In [17]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division'],
      dtype='object')

In [18]:
#We can retrieve individual columns
nfl_frame.Team

0          Dallas Cowboys
1       Green Bay Packers
2        Baltimore Ravens
3    New England Patriots
4           Chicago Bears
5          Miami Dolphins
6       Minnesota Vikings
7      Kansas City Chiefs
Name: Team, dtype: object

In [21]:
# Or try this method for multiple word columns
nfl_frame['First NFL season']

0    1960
1    1921
2    1996
3    1960
4    1920
5    1966
6    1961
7    1960
Name: First NFL season, dtype: int64

In [24]:
#Create a dataframe from subset 
b = DataFrame(nfl_frame, columns=['Team', 'First NFL season', 'Pct.'])
b

                   Team  First NFL season   Pct.
0        Dallas Cowboys              1960  0.574
1     Green Bay Packers              1921  0.571
2      Baltimore Ravens              1996  0.561
3  New England Patriots              1960  0.561
4         Chicago Bears              1920  0.556
5        Miami Dolphins              1966  0.552
6     Minnesota Vikings              1961  0.548
7    Kansas City Chiefs              1960  0.546

In [25]:
#We can also assign value sto entire columns
nfl_frame['Stadium']="Levi's Stadium" #Careful with the ' here

In [26]:
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,Levi's Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,Levi's Stadium
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,Levi's Stadium
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,Levi's Stadium
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,Levi's Stadium
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,Levi's Stadium
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,Levi's Stadium

In [28]:
#Putting numbers for stadiums
nfl_frame["Stadium"] = np.arange(nfl_frame.shape[0])

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,0
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,1
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,2
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,3
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,4
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,5
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,6
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,7

In [29]:
# Call columns
nfl_frame.columns

Index(['Rank', 'Team', 'GP', 'Won', 'Lost', 'Tied', 'Pct.', 'First NFL season',
       'Division', 'Stadium'],
      dtype='object')

In [31]:
#Adding a Series to a DataFrame
stadiums = Series(["Levi's Stadium","AT&T Stadium"],index=[4,0])
stadiums

4    Levi's Stadium
0      AT&T Stadium
dtype: object

In [32]:
#Now input into the nfl DataFrame (only 1sta dn 5th position are subbed)
nfl_frame['Stadium']=stadiums

#Show
nfl_frame

,Rank,Team,GP,Won,Lost,Tied,Pct.,First NFL season,Division,Stadium
0,1,Dallas Cowboys,964,550,408,6,0.574,1960,NFC East,AT&T Stadium
1,2,Green Bay Packers,"1,418",790,590,38,0.571,1921,NFC North,NaN
2,3,Baltimore Ravens,434,243,190,1,0.561,1996,AFC North,NaN
3,4,New England Patriots,966,537,420,9,0.561,1960,AFC East,NaN
4,5,Chicago Bears,"1,452",786,624,42,0.556,1920,NFC North,Levi's Stadium
5,6,Miami Dolphins,882,485,393,4,0.552,1966,AFC East,NaN
6,7,Minnesota Vikings,952,516,425,11,0.548,1961,NFC North,NaN
7,8,Kansas City Chiefs,966,521,433,12,0.546,1960,AFC West,NaN

In [ ]:
#We can also delete columns
del nfl_frame['Stadium']

nfl_frame

,Rank,Team,Won,Lost,Tied*,Pct.,First Season,Total Games,Conference
0,1,Dallas Cowboys,510,378,6,0.574,1960,894,NFC East
1,2,Chicago Bears,752,563,42,0.570,1920,1357,NFC North
2,3,Green Bay Packers,741,561,37,0.567,1921,1339,NFC North
3,4,Miami Dolphins,443,345,4,0.562,1966,792,AFC East
4,5,Baltimore Ravens,182,143,1,0.560,1996,326,AFC North

In [ ]:
#DataFrames can be constructed many ways. Another way is from a dictionary of equal length lists
data = {'City':['SF','LA','NYC'],
        'Population':[837000,3880000,8400000]}

city_frame = DataFrame(data)

#Show
city_frame

  City  Population
0   SF      837000
1   LA     3880000
2  NYC     8400000

In [ ]:
#For full list of ways to create DataFrames from various sources go to teh documentation for pandas:
website = 'http://pandas.pydata.org/pandas-docs/dev/generated/pandas.DataFrame.html'
webbrowser.open(website)

True